form(class='form', role='form', action='/profile/editpic', method='POST')
  span: input(type='text', class='form-control', name='pic', placeholder='https://i.imgur.com', required)
  span: button(type='submit', class='btn btn-default') Update