- var brand = "1845 S Michigan Ave"

nav(class='navbar navbar-default')
    .container-fluid
    
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded="false")
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')
            a(class="navbar-brand" ui-sref="projects")= brand
        
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            if user
                ul(class='nav navbar-nav')
                    // li(class='active'): a(href='/page2') Page2
                    li(class='active'): a(ui-sref='.page2') Page2
                        span(class='sr-only') (current)
                    if(user.role==='admin')
                        li: a(href='/admin') Admin
                    li(class='dropdown')
                        a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Projects
                            span(class='caret')
                        ul(class='dropdown-menu')
                            li(ng-repeat='project in manageList.projects | filter: "Open"'): a {{ project.title }}
                form.navbar-form.navbar-left(role='search')
                    input.form-control(type='text' placeholder='Search projects' ng-model='searchtext')
            ul(class='nav navbar-nav navbar-right')
                if user
                    li: a(href='/profile')= user.firstname
                    li: a(href='/logout') Logout
                if !user
                    li: a(href='signup') Signup