doctype html
html(ng-app='manageApp')
  head
    // page setup
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    
    // page meta
    meta(name='description', content='A dashboard for capturing and verifying manufacturing quality assurance.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    // scripts
    script(type="text/javascript", src="https://code.jquery.com/jquery-latest.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='/lib/angular-ui-router.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js')
    
    script(src='js/manage.js')
    
    // styles
    link(rel="stylesheet", type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    
  body(ng-controller='manageCtrl as manageList')
  
    .curtain
    include partials/navbar
    // ng-include(src='"templates/navbar.html"')
    
    .container
      div(ui-view)