.curtain {
  z-index: -1;
  background-color: #9BAEBA;
  height: 300px;
  width: 100%;
  position: absolute; }

.account-wall img {
  width: 600px;
  margin-left: -100px; }

.table {
  background-color: #E7E7E7; }

.profile {
  padding: 30px;
  background-color: #EEEEEE; }
  .profile span {
    display: inline-block; }

.over-thirty {
  background: red;
  color: white;
}

.under-thirty {
  background: blue;
  color: white;
}

.hidden {
  display: none;
}

ul.ng-enter {
  transition: 2s linear all;
  opacity: 0;
}

ul.ng-enter.ng-enter-active {
  opacity: 1;
}