.form(ng-show='showNewProjectForm')
  .form-group
    label Project Title
    input.form-control(ng-model='project.title', placeholder='project title')
  .form-group
    label Project Status
    input.form-control(ng-model='project.status', placeholder='project status')
  button.btn.btn-default(ng-click='addProject()') Add Project